@media (max-width: 950px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    &__first-col {
      margin-bottom: 1em;
    }
  }
}
@media (max-width: 480px) {
  .footer {
    &__second-col {
      gap: 1.5em;
      flex-direction: column;
    }
  }
}
